{% extends "../public/main.njk" %}
{% block css %}
<link rel="stylesheet" href="/stylesheets/topic.css">
{% endblock %}
{% block body %}
<div id="topic" class="container">
  <div id="topic-body">
    <div id="topic-header">
      <div id="topic-title">
        <span class="tag">{{ data | cnode_tag}}</span>
        <h1 class="title">{{data.title}}</h1>
      </div>
      <div id="title-info">
        <span class="title-info-item">{{data.create_at | last_reply_time}}</span>
        <span class="title-info-item">{{data.author.loginname}}</span>
        <span class="title-info-item">{{data.visit_count}}</span>
        <span class="title-info-item">{{data.last_reply_at|last_reply_time}}</span>
        <span class="title-info-item">来自于：{{data|cnode_tag}}</span>
      </div>
    </div>
    <div id="topic-content">
{{data.content| safe}}
    </div>
  </div>
  <div id="topic-replys">
<div id="reply-header">
  <span>{{data.replies.length}}回复</span>
</div>
    {% for reply in data.replies %}
    <div class="topic-reply">
      <div class="reply-avator">
        <img src="{{reply.author.avatar_url}}" alt="">
      </div>
      <div class="reply-header">
        <span class="reply-name">{{reply.author.loginname}}</span>
        <span class="reply-floor">{{loop.index+1}}楼</span>
        <span class="reply-time">{{reply.create_at| last_reply_time}}</span>
      </div>
      <div class="reply-content">
        {{reply.content|safe}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
